.narration {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    transition: grid-template 0.2s ease;
    grid-gap: 10px;

    .lines {
        // display: flex;
        // flex-direction: column;
        // grid-column: 2;

        p {
            color: var(--bubble-text);
            margin: 0.75rem 0;
            transition: transform 0.2s ease;

            &:hover {
                transform: translate(2px, 0px);
            }
        }
    }

    &::before {
        content: "";
        height: 0.1rem;
        width: var(--bubble-icon-size);
        display: block;
        border-bottom: solid var(--bubble-line-color) 1px;
    }
}

@media (max-width: 650px) {
    .narration {
        grid-template: 1fr / var(--bubble-icon-sizeSmall) 1fr;
    }
}
