---
interface Props {
    type: string;
}

const { type } = Astro.props;
---

<div class:list={["box", type]}>
    <slot />
</div>

<style lang="scss">
    .box {
        &.radio {
            background: rgba(#df8e1d, 18%);
            text-align: center;
            padding: 1em;
            margin: 1em 1.5em;
            clip-path: polygon(
                3% 0,
                97% 0,
                100% 10%,
                100% 90%,
                97% 100%,
                3% 100%,
                0 90%,
                0 10%
            );

            :global(p) {
                color: var(--bubble-text);
                margin: 0;
            }
        }

        &.paper {
            background: #e6e9ef;
            padding: 1.5em;
            margin: 0 2em 1em;
        }
    }
</style>
