---
interface Props {
    character: string;
    name?: string;
    hidden?: boolean;
    unknown?: boolean;
}

const { character, name, hidden, unknown } = Astro.props;
---

<div class:list={["bubble", { hidden: hidden }, { unknown: unknown }]} character={character}>
    <div class="icon__wrapper">
        <div class="icon__box">
            <div class="icon__base"></div>
        </div>
    </div>
    <div class="lines">
        <div class="name">
            {unknown ? "???" : name || character}
        </div>
        <slot />
    </div>
</div>
