---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<div class="location">
    <strong>Location:</strong>
    {name}
</div>

<style lang="scss">
    .location {
        display: grid;
        align-items: center;
        grid-template: 1fr / 1fr auto 1fr;
        grid-gap: 0.15em;
        gap: 0.15em;
        color: var(--text-primary);
        // -webkit-touch-callout: none;
        // -webkit-user-select: none;
        // -khtml-user-select: none;
        // -moz-user-select: none;
        // -ms-user-select: none;
        // user-select: none;

        svg {
            height: 0.9em;
            width: 0.9em;
        }

        p {
            margin: 0;
            display: flex;
            align-items: center;
            text-align: center;
            // gap: 5px;
        }

        span {
            margin-left: 5px;
            padding-right: 2px;
        }

        &::before,
        &::after {
            content: "";
            height: 0.1em;
            width: 100%;
            display: block;
            border-bottom: solid var(--msr-line-color) 1px;
        }
    }
</style>
