---
import StoryIndexChapterList from "./StoryIndexChapterList.astro";

interface Props {
    chapterSections: Section[];
    slug: string;
}

const { chapterSections, slug } = Astro.props;
---

<style>
    .section {
        margin-bottom: 1rem;
    }
</style>

<nav>
    <ol class="sections">
        {
            chapterSections?.map((section) => (
                <li>
                    <p>{section.title && <span>{section.title}</span>}</p>
                    <ol>
                        <StoryIndexChapterList
                            slug={slug}
                            chapters={section.chapters}
                        />
                    </ol>
                </li>
            ))
        }
    </ol>
</nav>
