---
import { Icon } from "astro-icon/components";
---

<div id="storyOptions" class="lightbox__wrapper" style="display: none">
    <div class="lightbox__container">
        <div class="close-button">
            <Icon name="x" id="closeStoryOptions" />
        </div>
        <div class="header">Story Options</div>
        <div class="names">
            <input type="text" id="firstName" value="Kaede" />
            <input type="text" id="lastName" value="Hamasaki" />
        </div>
        <div class="genders">
            <div>
                <input type="radio" id="m" name="gender" value="male" checked />
                <label for="m">Male</label>
            </div>
            <div>
                <input type="radio" id="f" name="gender" value="female" />
                <label for="f">Female</label>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    const radioButtons = document.querySelectorAll('input[name="gender"]');
    const closeStoryOptions = document.getElementById("closeStoryOptions");
    const firstNameInput = document.getElementById("firstName");
    const lastNameInput = document.getElementById("lastName");
    const storedData = localStorage.getItem("storyData");
    const charaElements = document.querySelectorAll('[character="MC"]');

    if (storedData) {
        const data = JSON.parse(storedData);
        setChara(data.gender);
    } else {
        const defaultData = {
            firstName: "Kaede",
            lastName: "Hamasaki",
            gender: "male",
        };

        localStorage.setItem("storyData", JSON.stringify(defaultData));

        setChara(defaultData.gender);
    }

    radioButtons.forEach((radioButton) => {
        radioButton.addEventListener("change", function () {
            updateFirstName(this.value);
            lastNameInput.value = "Hamasaki";
            setChara(this.value);
        });
    });

    function updateFirstName(gender) {
        if (gender === "male") {
            firstNameInput.value = "Kaede";
        } else {
            firstNameInput.value = "Momiji";
        }
    }

    function setChara(gender) {
        charaElements.forEach((element) => {
            if (gender === "male") {
                element.setAttribute("character", "Kaede");
            } else {
                element.setAttribute("character", "Momiji");
            }

            const nameDiv = element.querySelector(".name");
            if (nameDiv) {
                nameDiv.textContent = firstNameInput.value;
            }
        });
    }

    firstNameInput.addEventListener("change", function () {
        charaElements.forEach((element) => {
            const nameDiv = element.querySelector(".name");
            if (nameDiv) {
                nameDiv.textContent = firstNameInput.value;
            }
        });
    });

    closeStoryOptions.addEventListener("click", function () {
        const firstName = firstNameInput.value;
        const lastName = lastNameInput.value;
        const selectedRadio = document.querySelector('input[name="gender"]:checked');
        const gender = selectedRadio.value;

        const storyData = {
            firstName,
            lastName,
            gender,
        };

        localStorage.setItem("storyData", JSON.stringify(storyData));
        document.getElementById("storyOptions").style.display = "none";
    });
</script>
