@use "../palette/rose-pine/dark.scss";

html.dark {
    --text-primary: #{dark.$text};
    --text-secondary: #{dark.$subtle};
    --text-tertiary: #{dark.$muted};
    --background-primary: #{dark.$base};
    --background-secondary: #{dark.$surface};
    --background-tertiary: #{dark.$overlay};
    --accent-color: #{dark.$rose};
    --blockquote-color: #{dark.$highlight-high};
}
