@use "../palette/rose-pine/dawn.scss";

html {
    --text-primary: #{dawn.$text};
    --text-secondary: #{dawn.$subtle};
    --text-tertiary: #{dawn.$muted};
    --background-primary: #{dawn.$surface};
    --background-secondary: #{dawn.$base};
    --background-tertiary: #{dawn.$overlay};
    --accent-color: #{dawn.$rose};
    --blockquote-color: #{dawn.$highlight-high};
}
