html {
    --bubble-text: var(--text-primary);
    --bubble-text-thought: var(--text-secondary);
    --bubble-bg-default: hsl(33deg, 26%, 88%);
    // catppuccin: hsl(223deg, 16%, 88%)
    --bubble-icon-border: 12px 4px;
    --bubble-icon-size: 50px;
    --bubble-icon-sizeSmall: 45px;
    --bubble-name-case: uppercase;
    --bubble-line-border: 15px;
    --bubble-line-size: 1rem;
    --bubble-line-gap: 0.15rem;
    --bubble-line-color: var(--blockquote-color);
    --box-radio-bg: hsla(35, 81%, 56%, 0.2);

    [data-character] {
        // catppuccin: hsl(var(--hue), 23%, 88%)
        --bubble-bg: hsl(var(--hue), 33%, 88%);
    }
}

html.dark {
    --bubble-bg-default: hsl(248deg, 15%, 20%);
    --box-radio-bg: hsla(35, 88%, 72%, 0.2);

    [data-character] {
        --bubble-bg: hsl(var(--hue), 25%, 20%);
    }
}
