---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <div class="site-title">
        <a href="/tl/">{SITE_TITLE}</a>
    </div>
    <nav class="internal-links">
        <!-- <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/tl">Translations</HeaderLink> -->
    </nav>
    <div class="theme-toggle">
        <ThemeToggle />
    </div>
</header>

<style lang="scss">
    header {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        position: fixed;
        width: 100%;
        gap: 1em;
        align-items: center;
        height: auto;
        margin: 0;
        padding: 0 0.9rem;
        background: var(--background-secondary);
        box-shadow: 0 2px 8px rgba(#000, 5%);
        z-index: 999;
        font-size: 1.2em;
    }

    div,
    nav {
        display: flex;
        align-content: center;
    }

    a {
        text-decoration: none;
    }

    .theme-toggle {
        justify-self: flex-end;
    }
</style>
