// Bubble

.bubble {
    display: grid;
    margin: 1em 0;
    grid-template-columns: auto 1fr;
    line-height: 1.2;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    column-gap: 12px;
    row-gap: 1px;
    font-size: var(--bubble-line-size);
    transition: 0.2s ease;
    // -webkit-touch-callout: none;
    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;

    .lines {
        display: flex;
        flex-direction: column;
        grid-column: 2;

        p {
            align-self: flex-start;
            background: var(--bubble-bg, var(--bubble-bg-default));
            color: var(--bubble-text);
            padding: 0.65em;
            margin: 0;
            border-radius: var(--bubble-line-border);
            position: relative;
            transition: 0.2s ease;

            t {
                color: var(--bubble-text-thought);
            }

            &:not(:last-child) {
                margin-bottom: var(--bubble-line-gap);
            }

            &:hover {
                transform: translate(2px, 0px);
            }

            &:nth-child(2) {
                border-top-left-radius: 3px;

                // &::before {
                //     content: "";
                //     display: block;
                //     background: var(--bubble-bg, var(--bubble-bg-default));
                //     width: 8px;
                //     height: 12px;
                //     position: absolute;
                //     top: 0;
                //     left: -7px;
                //     -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 12'%3E%3Cpath d='M6,12H7V0H.59C.17,0,0,.11,0,.55V1c0,.21.13.44.59.71C4.31,3.88,6,7.61,6,12Z'/%3E%3C/svg%3E")
                //         no-repeat 100% 100%;
                //     mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 12'%3E%3Cpath d='M6,12H7V0H.59C.17,0,0,.11,0,.55V1c0,.21.13.44.59.71C4.31,3.88,6,7.61,6,12Z'/%3E%3C/svg%3E")
                //         no-repeat 100% 100%;
                // }
            }
        }
    }
}

.icon {
    grid-column: 1;
    filter: var(--img-filter, unset);

    &__box {
        border-radius: var(--bubble-icon-border);
        position: relative;
        overflow: hidden;
        width: var(--bubble-icon-size);
        height: var(--bubble-icon-size);
        transition: 0.2s ease;
    }

    &__base {
        display: block;
        background: 100% / 100%
                var(
                    --icon,
                    url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
                ),
            var(--color, #acb0be);
        width: 100%;
        height: 100%;
    }
}

.duo .icon {
    grid-column: 1;
    filter: var(--img-filter, unset);

    &__box {
        border-radius: var(--bubble-icon-border);
        position: relative;
        overflow: hidden;
        width: calc(var(--bubble-icon-size) / 1.25);
        height: calc(var(--bubble-icon-size) / 1.25);
        transition: 0.2s ease;

        &:nth-child(2) {
            left: 10px;
            bottom: 10px;
        }
    }

    &__base {
        display: block;
        background: 100% / 100%
                var(
                    --icon,
                    url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
                ),
            var(--color, #acb0be);
        width: 100%;
        height: 100%;
    }
}

.name {
    font-size: 0.85em;
    line-height: 0.8;
    font-weight: bold;
    text-transform: var(--bubble-name-case);
    color: var(--text-secondary);
    margin-bottom: var(--bubble-line-gap);
}

%icon-silhouette {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    -webkit-mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    -webkit-mask-size: 100%;
    -webkit-mask-position: 100%;
    mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    mask-size: 100%;
    mask-position: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}

.unknown {
    .icon {
        &__base {
            background: #acb0be;
        }

        &__box::after {
            @extend %icon-silhouette;
        }
    }

    .lines p {
        background: var(--bubble-bg-default);

        &:nth-child(2)::before {
            background: var(--bubble-bg-default);
        }
    }
}

.hidden {
    .icon__box::after {
        @extend %icon-silhouette;
    }
}

@media (max-width: 650px) {
    .icon__box {
        width: var(--bubble-icon-sizeSmall);
        height: var(--bubble-icon-sizeSmall);
    }
}

// Narration

.narration {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    transition: grid-template 0.2s ease;
    grid-gap: 10px;
    // gap: 10px;

    .lines {
        // display: flex;
        // flex-direction: column;
        // grid-column: 2;

        p {
            margin: 0.75em 0;
            transition: transform 0.2s ease;

            &:hover {
                transform: translate(2px, 0px);
            }
        }
    }

    &::before {
        content: "";
        height: 0.1em;
        width: var(--bubble-icon-size);
        display: block;
        border-bottom: solid var(--bubble-line-color) 1px;
    }
}

@media (max-width: 650px) {
    .narration {
        grid-template: 1fr / var(--bubble-icon-sizeSmall) 1fr;
    }
}

// Box

.box {
    &.radio {
        background: rgba(#df8e1d, 18%);
        text-align: center;
        padding: 0.75em;
        margin: 1em 1.5em;
        clip-path: polygon(
            3% 0,
            97% 0,
            100% 10%,
            100% 90%,
            97% 100%,
            3% 100%,
            0 90%,
            0 10%
        );

        p {
            margin: 0;
        }
    }

    &.paper {
        background: #e6e9ef;
        text-align: center;
        padding: 1em;
        margin: 0 2em 1em;
    }
}

// Location

.location,
.flashback {
    display: grid;
    margin: 1em 0;
    align-items: center;
    grid-template: 1fr / 1fr auto 1fr;
    grid-gap: 0.15em;
    gap: 0.15em;
    color: var(--text-primary);

    > div,
    svg {
        margin: 0;
        display: inline-flex;
        align-items: center;
        text-align: center;
    }

    > div {
        margin-right: 3px;
    }

    svg {
        font-size: 1.5rem;
        margin-right: 0.2rem;
    }

    &::before,
    &::after {
        content: "";
        height: 0.1em;
        width: 100%;
        display: block;
        border-bottom: solid var(--bubble-line-color) 1px;
    }
}

// Modal

button#storyOptionsButton {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    border: none;
    filter: drop-shadow(0 0 5px #00000075);

    svg {
        font-size: 24px;
    }
}

.modal {
    // &__wrapper {
    //     position: fixed;
    //     z-index: 999;
    //     height: 100vh;
    //     width: 100vw;
    //     top: 0;
    //     left: 0;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     background-color: rgba(0, 0, 0, 0.55);
    // }

    // display: flex;
    border: none;
    position: relative;
    background-color: var(--background-primary);
    border-radius: 8px;
    height: auto;
    max-width: 600px;
    color: var(--text-primary);
    padding: 2.25em;

    .genders {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    &::backdrop {
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.55);
    }
}

// Navigation
.story-nav {
    z-index: 999;
    position: fixed;
    bottom: 20px;
}

// Phone

.phone {
    max-width: 350px;
    margin: 0 auto;
    background-color: #1e66f5;
    padding: 5px;
    border-radius: 30px;

    .msg {
        display: flex;
        flex-direction: column;
        background-color: #eff1f5;
        padding: 15px;
        border-radius: 0 0 25px 25px;
        border-right: 5px solid #000;
        border-left: 5px solid #000;
        border-bottom: 5px solid #000;

        &-header {
            font-size: 1.1em;
            display: flex;
            justify-content: center;
            background-color: #04a5e5;
            color: #fff;
            border-radius: 25px 25px 0 0;
            padding: 15px;
            border-top: 5px solid #000;
            border-right: 5px solid #000;
            border-left: 5px solid #000;
        }
    }

    p {
        max-width: calc(350px / 2);
        padding: 10px;
        line-height: 1.1;
        word-wrap: break-word;
        border-radius: 15px;
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 1px;
        }
    }

    .sent {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
            background-color: #04a5e5;
            color: #fff;

            &:last-child {
                border-bottom-right-radius: 3px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    [character] {
        display: inline-grid;
        grid-template-columns: auto 1fr;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            background-color: #ccd0da;
            color: var(--bubble-text);

            &:last-child {
                border-bottom-left-radius: 3px;
            }
        }

        &::before {
            content: "";
            align-self: flex-end;
            margin-right: 8px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: 100%/100% var(--msg-icon);
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
