---
interface Props {
    character1: string;
    character2: string;
    name?: string;
    hidden?: boolean;
    unknown?: boolean;
}

const { character1, character2, name, hidden, unknown } = Astro.props;
---

<div class:list={["bubble", "duo", { hidden: hidden }, { unknown: unknown }]}>
    <div class="icon__wrapper">
        <div class="icon__box" data-character={character1}>
            <div class="icon__base"></div>
        </div>
        <div class="icon__box" data-character={character2}>
            <div class="icon__base"></div>
        </div>
    </div>
    <div class="lines">
        <div class="name">
            {character1}&nbsp;&amp;&nbsp;{character2}
        </div>
        <slot />
    </div>
</div>
