---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/variables/tl.scss";
import "../styles/tl/pages.scss";

type Props = CollectionEntry<"tl">["data"];

const { title, description, series } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <style>
            main {
                width: calc(100% - 2em);
                max-width: 100%;
                margin: 0;
            }

            article {
                width: 720px;
                max-width: calc(100% - 2em);
                margin: auto;
                padding: 1em;
            }
        </style>
    </head>

    <body>
        <Header />
        <main>
            <article>
                <slot />
            </article>
        </main>

        <Footer />

        <!-- bruh why isn't this working -->
        {
            series == "18tr" ? (
                <div id="genderChoice" class="lightbox__wrapper">
                    <div class="lightbox__container">test</div>
                </div>
            ) : null
        }

        <div id="genderChoice" class="lightbox__wrapper">
            <div class="lightbox__container">
                <div class="names">
                    <input type="text" id="firstName" value="Kaede" />
                    <input type="text" id="lastName" value="Hamasaki" />
                </div>
                <div class="genders">
                    <div>
                        <input type="radio" id="m" name="gender" value="male" />
                        <label for="m">Male</label>
                    </div>
                    <div>
                        <input type="radio" id="f" name="gender" value="female" />
                        <label for="m">Female</label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
